body {
    font-family: 'Roboto', 'Arial';
    background-image: url("/img/background.jpg"), url("/img/background2.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}


.navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.6);
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
}

.navbarList {
    float: left;
    padding: 15px;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
}

li:hover {
    background-color: rgb(78, 78, 78, 0.6);
}

#header {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Fredoka One', 'Arial';
    color: white;
    width: 450px;
}

#rpsGameContainer {
    grid-template-columns: auto auto auto;
    justify-items: space-evenly;
    align-items: center;
    display: grid;
    background-color: rgb(230, 230, 230, 0.6);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#rpsResultContainer {
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgb(148, 148, 148, 0.5);
    border: 2px solid black;
    border-radius: 5px;
}

#rpsSelectionButtons {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    justify-items: space-evenly;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#rpsDescription {
    width: fit-content;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgb(148, 148, 148, 0.85);
    border: 2px solid black;
    border-radius: 5px;
  }

#drawGameContainer {
    background-color: rgb(230, 230, 230, 0.6);
    padding: 20px; 
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-column-gap: 20px;
    overflow: hidden;
}

#drawButtonContainer {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
}

#drawDescription {
    padding: 10px;
    margin: 10px;
    width:fit-content;
    text-align: center;
    background-color: rgb(148, 148, 148, 0.85);
    border: 2px solid black;
    border-radius: 5px;
  }

.container {
    display: grid;
    padding: 20px;
    overflow: hidden;
}

.grid {
    display: grid;
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    max-width: 500px;
    min-width: 500px;
    min-height: 500px;

}

.grid-element {
    border: 1px solid black;
}

.grid-element-hover {
    background-color: black;
}

.grid-element-reset {
    background-color: white;
}



#calcContainer {
    display: grid;
    grid-template-columns: auto auto;
    background-color:rgb(230, 230, 230, 0.6);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

#calcResultsContainer {
    grid-column: 1/5;
    width: 400px;
    height: 50px;
    background-color: white;
    justify-self: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
  }
  
  #calculator {
    background-color: rgb(207, 207, 207);
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 500px;
    height: 500px;
  }
  
  .numButton {
    width: 100px;
    height: 50px;
  }
  
  .opButton {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 0, 0);
  }
  
  .clearButton {
    width: 100px;
    height: 50px;
  }
  
  .decButton {
    width: 100px;
    height: 50px;
  }
  
  button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Roboto', 'Arial';
    font-size: medium;
  }
  
  #equals {
    grid-column: 1/5;
    width: 400px;
    justify-self: center;
  }

  #welcome {
    background-color: rgb(148, 148, 148, 0.5);
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }

  #welcomeMessage {
      font-family: "Alex Brush";
      transform: rotate(-2deg);
      font-size: 50px;
  }

  #vidContainer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
  }

  footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
  }
  
  table {
    color: white;
  }

  h2 {
    color: white;
    border-bottom: 1px solid white;
  }
  

  
